.lista-usuarios {
  margin: auto;
  width: 30%;
}
.titulo-centrado {
  text-align: center;
}
.lista-usuarios th,
.lista-usuarios td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

.lista-usuarios th {
  background-color: lightgray;
  font-size: large;
}
.lista-usuarios td {
  background-color: rgb(134, 185, 243);
  font-weight: 600;
  color: rgb(3, 3, 3);
  font-size: large;
}
